.us_page_con{
 
   
}
.us_page_con .banner_img{
    display:block;
}

.us_page_con .intro_text{
 
    overflow:hidden;
    border:1px solid brown;
}

.us_page_con .intro_text .text_con{

   overflow:hidden;
   
   margin-top:120px;
 

}
.us_page_con .intro_text .text_con .title{
   font-size:36px;
   float:left;
}
.us_page_con .intro_text .text_con .txt{

   width:67%;
   float:right;
   line-height:28px;
}




.us_page_con .intro_text .text_con .txt p{
    margin-bottom:20px;
}


.us_page_con #video{
   width:90%;
   float:right;
   margin:20px 0 120px;
}
