.cart_page_con .user_info_con{
    background:#fff;
    margin:20px 0;
    padding:20px;
}
.cart_page_con .user_info_con .title{
    overflow:hidden;
    margin-bottom:32px;
}

.cart_page_con .user_info_con .title .tit{
    height:20px;
    line-height:20px;
    float:left;
    font-size:15px;
}
.cart_page_con .user_info_con .title .txt{
    height:20px;
    line-height:20px;
    font-size:12px;
    color:#E61D40;
    font-size:12px;
    float:left;
    margin-left:10px;
}

.cart_page_con .user_info_con .form_con .submit_btn{
    background:#333;
}

.cart_page_con  .user_info_con .message_title{
   margin-top:40px;
}
.cart_page_con  .user_info_con .message_title .title{
   font-size:17px;
   margin-bottom:20px;
   font-size:14px;
}


.cart_page_con  .user_info_con .message_title .txt{
    margin-bottom:5px;
    color:#666;
}
