.login_form_con{
    width:80%;
    margin:0 auto;
    
    /* border:1px solid brown; */
}
.login_form_con .title{
    height:27px;
    line-height:27px;
    font-size:22px;
    text-align:center;
    margin-top:25.1%;
    
    margin-bottom:6.8%;
}


.login_form_con .put_val{
    display:block;
    height:20%;
    /* height:50px;
    line-height:50px; */
    text-indent:20px;
    border-radius:50px;
}
.login_form_con .sub_btn{
    width: 100%;
    height:50px;
    line-height:50px;
    border-radius:50px;
    background:#C6A189;
    color:#fff;
    text-align:center;
    cursor:pointer;
    letter-spacing:6px;
}
 




.login_form_con .select_con{
    float:left;
    background:url("../../assets/check_false_icon.png") no-repeat left center;
    padding-left:20px;

    cursor:pointer;
    color:#666;
}
.login_form_con .forget_btn{
    float:right;
    color:#666;
    cursor:pointer;
}